{% extends "base.html" %}

{% block extrahead %}
<!-- Klix Pay/Checkout widget -->
<script type="module" src="https://klix.blob.core.windows.net/public/widget/build/klixwidget.esm.js"></script>
<script nomodule src="https://klix.blob.core.windows.net/public/widget/build/klixwidget.js"></script>
<!-- Klix Pay Later widget -->
<script type="module" src="https://klix.blob.core.windows.net/public/pay-later-widget/build/klix-pay-later-widget.esm.js"></script>
<script nomodule="" src="https://klix.blob.core.windows.net/public/pay-later-widget/build/klix-pay-later-widget.js"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9008822.js"></script>
<!-- End of HubSpot Embed Code -->
{% endblock %}