{% extends "base.html" %}

{% block extrahead %}
<!-- Klix Pay/Checkout widget -->
<script type="module" src="https://klix.blob.core.windows.net/stage/widget/build/klixwidget.esm.js"></script>
<script nomodule src="https://klix.blob.core.windows.net/stage/widget/build/klixwidget.js"></script>
<!-- Klix Pay Later widget -->
<script type="module" src="https://klix.blob.core.windows.net/stage/pay-later-widget/build/klix-pay-later-widget.esm.js"></script>
<script nomodule="" src="https://klix.blob.core.windows.net/stage/pay-later-widget/build/klix-pay-later-widget.js"></script>
<!-- <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="a5ad4e02-afc6-4a09-907d-67bedb386f14";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script> -->
{% endblock %}